<%= render 'layouts/header' %>

<p class="main">Welcome to Project Pomodoro</p>
<p>On this site, you can keep a list of tasks. You can work on these tasks in 25-minute increments (pomodoros). After every pomodoro, take a five-minute break. After every four pomodoros, take a longer break!</p>

<img src="<%= asset_path('pomodoro.png') %>">
