<div class="task_form" data-id="<%= task.id %>">
  <div class="task_name">
    <%= task.name %><br />
  </div>
  Pomodoros completed: <%= task.pomodoros %><br />
  Start a new pomodoro for this task<br />
  <%= button_to "Delete this task", user_task_path(current_user, task), method: "delete", remote: true %>
  <br />
</div>
