<!-- <p>Here are all your tasks.</p>

<p>Add a new task</p>
<%= form_for @task, url: user_tasks_path, remote: true do |f| %>
  <%= f.text_field :name, placeholder: "name of task" %><br />
  <%= f.submit %>
<% end %>


<ul>
<%= render current_user.tasks %>
</ul> -->
