.hide_form .edit_task {
  display: none;
}

.hide_start_button {
  display: none;
}

.hide_name .task_name {
  display: none;
}

.task_name {
  font-weight: bold;
}

.timer {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.pomodoros {
  display:inline-block;
}

.frame {
  display:inline-block;
}
